In [1]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:.5f}'.format

In [2]:
user_artist_data = pd.read_csv("profiledata_06-May-2005/user_artist_data.txt", sep=" ", names=['userid', 'artistid', 'playcount'])

In [3]:
artist_name = pd.read_csv("profiledata_06-May-2005/artist_data.txt", sep="\t", names=['artistid', 'artistname'], error_bad_lines=False, warn_bad_lines=False)

/tmp/ipykernel_1621/1603388667.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  artist_name = pd.read_csv("profiledata_06-May-2005/artist_data.txt", sep="\t", names=['artistid', 'artistname'], error_bad_lines=False, warn_bad_lines=False)
/tmp/ipykernel_1621/1603388667.py:1: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  artist_name = pd.read_csv("profiledata_06-May-2005/artist_data.txt", sep="\t", names=['artistid', 'artistname'], error_bad_lines=False, warn_bad_lines=False)
/tmp/ipykernel_1621/1603388667.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  artist_name = pd.read_csv("profiledata_06-May-2005/artist_data.txt", sep="\t", names=['artistid', 'artistname'], error_bad_lines=False, warn_bad_lines=False)

In [4]:
artist_name

         artistid                                         artistname
0         1134999                                       06Crazy Life
1         6821360                                       Pang Nakarin
2        10113088                       Terfel, Bartoli- Mozart: Don
3        10151459                                The Flaming Sidebur
4         6826647                                  Bodenstandig 3000
...           ...                                                ...
2100515  10434912                        Ray Charles f. Natalie Cole
2100516  10299430                            Maarja ja Peeter Rebane
2100517  10299431                 Weezer - Undone (The Sweater Song)
2100518  10299433                               Div. Norske Artister
2100519  10299434  Jeanette Pacher;Hans Groisz;Pit Schultz;Salome...

[2100520 rows x 2 columns]

In [5]:
import implicit

model = implicit.als.AlternatingLeastSquares(factors=2, regularization=0.1, iterations=10)

/home/spark/.local/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
user_artist_data = user_artist_data[:100000]

In [7]:
user_artist_data.describe()

             userid       artistid    playcount
count  100000.00000   100000.00000 100000.00000
mean  1000279.30585  1153704.17701     12.71207
std       162.95012  1654081.52708     64.92093
min   1000002.00000        1.00000      1.00000
25%   1000145.00000  1000049.00000      1.00000
50%   1000260.00000  1007302.00000      2.00000
75%   1000405.00000  1055479.00000      7.00000
max   1000586.00000 10787933.00000   8561.00000

In [8]:
user_artist_data

        userid  artistid  playcount
0      1000002         1         55
1      1000002   1000006         33
2      1000002   1000007          8
3      1000002   1000009        144
4      1000002   1000010        314
...        ...       ...        ...
99995  1000586   1001362          2
99996  1000586   1001365          1
99997  1000586   1001412          1
99998  1000586   1001424          4
99999  1000586   1001487          5

[100000 rows x 3 columns]

In [9]:
from scipy.sparse import csr_matrix

my_ratings = csr_matrix((user_artist_data['playcount'], (user_artist_data['userid'], user_artist_data['artistid'])))
my_ratings = my_ratings * 40

In [10]:
from implicit.evaluation import train_test_split

# (ratings, train_percentage=0.8, random_state=None)

# trd, tsd = train_test_split(my_ratings, train_percentage=0.8, random_state=None)

In [11]:
trd, tsd

(<1000587x10787934 sparse matrix of type '<class 'numpy.int64'>'
 	with 80263 stored elements in Compressed Sparse Row format>,
 <1000587x10787934 sparse matrix of type '<class 'numpy.int64'>'
 	with 19737 stored elements in Compressed Sparse Row format>)

In [23]:
model.fit(my_ratings)

100%|███████████████████████████████████████████| 10/10 [00:00<00:00, 10.16it/s]

<1x10787934 sparse matrix of type '<class 'numpy.int64'>'
	with 665 stored elements in Compressed Sparse Row format>

In [22]:
user_list = user_artist_data['userid'].unique()
len(user_list)

408

In [24]:

userid = 1000002

ids, scores = model.recommend(user_list, my_ratings, N=3, filter_already_liked_items=False)

ids, scores

(array([[1011861, 1033025, 1026409],
        [1011861, 1033025, 1026409],
        [1246073, 1000622,    1850],
        ...,
        [1011887, 1246073, 6716462],
        [   3187, 1033025, 1011861],
        [1246073, 1011887, 6716462]], dtype=int32),
 array([[1.790277  , 1.7665415 , 1.7151257 ],
        [2.26911   , 2.1950283 , 2.1311412 ],
        [1.3081176 , 1.3026717 , 1.2954063 ],
        ...,
        [0.9543762 , 0.95201087, 0.92862934],
        [1.2215528 , 1.152923  , 1.1194956 ],
        [0.83007014, 0.8295408 , 0.80801064]], dtype=float32))

In [31]:
from implicit.evaluation import mean_average_precision_at_k

mean_average_precision_at_k(model, trd, tsd, K=10, show_progress=True, num_threads=1)
# (model, train_user_items, test_user_items, K=10, show_progress=True, num_threads=1)

100%|█████████████████████████████████████████| 386/386 [00:12<00:00, 29.84it/s]

0.03870147627271978

In [30]:
df = pd.DataFrame(ids, columns=['r1', 'r2', 'r3'])
df['userid'] = user_list
df

          r1       r2       r3   userid
0    1011861  1033025  1026409  1000002
1    1011861  1033025  1026409  1000019
2    1246073  1000622     1850  1000020
3    1011887  1246073  6716462  1000021
4    1011861  1033025  1026409  1000022
..       ...      ...      ...      ...
403  1246073  1011887  6716462  1000581
404  1011887  1246073     3187  1000583
405  1011887  1246073  6716462  1000584
406     3187  1033025  1011861  1000585
407  1246073  1011887  6716462  1000586

[408 rows x 4 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   r1      408 non-null    int32
 1   r2      408 non-null    int32
 2   r3      408 non-null    int32
 3   userid  408 non-null    int64
dtypes: int32(3), int64(1)
memory usage: 8.1 KB

In [43]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

db_connection_str = 'mysql+pymysql://korea:korea1234@spark-master-01/music'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [44]:
df.to_sql(name='recommend', con=db_connection, if_exists='replace',index=False)

408

In [47]:
from datetime import datetime

datetime.today().strftime("%Y%m%d%H%M%S")

'20221109203936'

In [48]:
artist_name['regDate'] = '20221109203936'
artist_name

,artistid,artistname,regDate
0,1134999,06Crazy Life,20221109203936
1,6821360,Pang Nakarin,20221109203936
2,10113088,"Terfel, Bartoli- Mozart: Don",20221109203936
3,10151459,The Flaming Sidebur,20221109203936
4,6826647,Bodenstandig 3000,20221109203936
...,...,...,...
2100515,10434912,Ray Charles f. Natalie Cole,20221109203936
2100516,10299430,Maarja ja Peeter Rebane,20221109203936
2100517,10299431,Weezer - Undone (The Sweater Song),20221109203936
2100518,10299433,Div. Norske Artister,20221109203936
2100519,10299434,Jeanette Pacher;Hans Groisz;Pit Schultz;Salome...,20221109203936

In [49]:
artist_name.to_sql(name='artist_name', con=db_connection, if_exists='replace',index=False)

2100520

In [59]:
userdf = pd.DataFrame(user_list, columns=['userno'])

def get_loginid(val) :
    return 'id_'+ str(val)
    

userdf['loginId'] = userdf['userno'].map(get_loginid)
userdf['pass'] = userdf['userno'].map(lambda val : 'pass_' + str(val))
userdf['sex'] = 1
userdf['age'] = 20
userdf['regDate'] = '20221109203936'
userdf['username'] = userdf['userno'].map(lambda val : 'nm_' + str(val))

userdf.to_sql(name='user', con=db_connection, if_exists='replace',index=False)

408